*{
    margin:0px;
    padding:0px;
 
    
}

.wholecontainer{
    height: 1000px;;
    width:100vw;
    overflow-x: none;
    background-color: #30343f;
}

.navbar
{   height: 80px;
    width: 100vw;
    
    font-size: 30px;
    
    background: #22333b;  /* fallback for old browsers */
    
}

.list{

    display:flex;
    width:100vw;
    flex-direction: row;
    justify-content: space-between;
    align-content:center;
    list-style-type:none;  
    
}

#about
{
    color:rgb(230, 225, 225);
    font-size: 3.5rem;
    font-family:  MV Boli ;
}

#links{
    color:rgb(230, 242, 230);
    font-size: 50px;
}

a
{   color:rgb(232, 241, 232);
    text-decoration: none;
    margin-left:80px;
    font-style:Cursive ;
    margin-right: 100px;
}




.main
{   width:70%;
    height:100vh;
    background-color: #ebebeb;
    margin:auto;

}

img{ display: block;
    height: 300px;
    width:300px;
    /* margin-right: auto; */
    float:right;
    margin-bottom: 50px;
}

a:hover{color:rgb(6, 5, 5)}

p{
    font-size: 40px;
    font-family: Trebuchet MS, sans-serif;
    font-style: oblique;
    margin: 50px;
}

h1{font-size:50px;
font-family:Chalkduster, fantasy}



